:root {
  --main-color: #fff;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  margin: 0;
  background: url(./images/Form-image.svg), #ff7a7a 50% / cover no-repeat;
}

.container {  
  margin: 0 auto;
  max-width: 1096px;
}

.container .signup {
  letter-spacing: 1px;
  display: flex;
  gap: 80px;
}

.signup .content {
  display: flex;
  align-items: center;
}

.container .content .title {
  color: var(--main-color);
  font-size: 39px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  line-height: 40px;
  margin-bottom: 41px;
}

.container .content .title.subtitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin: 0;
}

.container .signup .top-btn {
  margin-bottom: 24px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  padding: 17px 95px 16px 95px;
  background-color: #6055a5;
  box-shadow: 0px 6px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  color: var(--main-color);
}

.form .body-form {
  padding-top: 32px;
  background-color: var(--main-color);
  border-radius: 8px;
  box-shadow: 0px 6px 0px 0px rgba(0, 0, 0, 0.12);
}

.form .form-group {
  padding: 0px 32px 21px 32px;
  position: relative;
  min-width: 464px;
}

input.form-control {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #b9b6d3;
  font-family: "Poppins", sans-serif;
  padding: 17px 39px 17px 17px;
  color: #777583;
  font-size: 14px;
  font-weight: 700;
}

.form .footer-form {
  margin-top: 21px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.form .footer-form span.btn-claim {
  border-radius: 8px;
  border: 1px solid #2fb67c;
  background: #38cc8c;
  box-shadow: 0px 2px 0px 0px #2fb67c;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  padding: 20px 121px 20px;
}

.form .footer-form span.btn-claim:hover {
  cursor: pointer;
}

.form .footer-form .form-text {
  font-size: 12px;
  color: #b9b6d3;
  padding: 34px 0;
}

span.form-text_terms {
  color: #ff7a7a;
}

.error-message {
  font-family: "Poppins", sans-serif;
  color: #ff7a7a;
  font-size: 12px;
  position: absolute;
  right: 32px;
}

.body-form .form-group img.icon-error_image {
  position: absolute;
  top: 12px;
  right: 40px;
}


.body-form .form-group .box-form_input {
  display: flex;
}

.body-form .form-group .box-form_input .icon-error_image {
  display: none;
}


@media screen and (max-width: 768px) {
  .container{
    max-width: 488px;
  }
  .container .signup {
    display: block;
  }

  .signup .content {
    margin-right: 0px;
  }

  .container .content .title {
    max-width: 340px;
    margin-bottom: 15px;
    text-align: center;
  }

  .container .content .title.subtitle {
    margin-bottom: 44px;
  }

  .container .signup .top-btn {
    padding: 17px 70px;
    line-height: 24px;
  }

  .form {
    max-width: 340px;
    margin: 0 auto;
  }

  input.form-control {
    padding: 19px 38px 18px 17px;
    font-size: 12px;
  }

  .form .form-group {
    min-width: auto;
  }

  .form .footer-form span.btn-claim {
    padding: 21px 27px;
  }

  .form .footer-form .form-text {
line-height: 26px;
    padding: 43px 0 32px;
  }

  .form span:nth-child(2) {
    font-weight: 700;
    display: block;
  }
}